{% extends 'base.html' %}

{% block css_scripts %}

  <link rel="stylesheet" href="/static/css/job_list.css">

{% endblock %}
{% block title %} Homepage {% endblock %}

{% block content %} 
  <div class="container-fluid">
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              {{ job_1["name"] }}
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <ul>
              <li>Car Address:<br>{{ job_1["car_address"] }}</li>
              <li>Dealership Address:<br>{{ job_1["dealership_address"] }}</li>
              <li>Pick-Up Time:<br>{{ job_1["pick_up"] }}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              {{ job_2["name"] }}            
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <ul>
              <li>Car Address:<br>{{ job_2["car_address"] }}</li>
              <li>Dealership Address:<br>{{ job_2["dealership_address"] }}</li>
              <li>Pick-Up Time:<br>{{ job_2["pick_up"] }}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              {{ job_3["name"] }}            
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            <ul>
              <li>Car Address:<br>{{ job_3["car_address"] }}</li>
              <li>Dealership Address:<br>{{ job_3["dealership_address"] }}</li>
              <li>Pick-Up Time:<br>{{ job_3["pick_up"] }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

 
{% endblock %}

{% block scripts %}
{% endblock %}


<form action="/job_list" method="POST">
  <div class="form-group">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>