{% extends 'base.html' %}
{% block content %}
<style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 300px;  /* The height is 400 pixels */
        width: 300px;  /* The width is the width of the web page */
       }
    </style>

<h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div>
{% endblock %}
{% block scripts %}
    <script>
	// Initialize and add the map
	function initMap() {
	  // The location of Uluru
	  var pos = {lat: {{ lat }}, lng: {{ lng }} };
	  // The map, centered at Uluru
	  var map = new google.maps.Map(
	      document.getElementById('map'), {zoom: 16, center: pos, disableDefaultUI: true});
	  // The marker, positioned at Uluru
	  var marker = new google.maps.Marker({position: pos, map: map});
	}
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2tjEKByQe3wNNvlxeK6pbooZBgibhUl8&callback=initMap">
    </script>
{% endblock %}